<div id="topo-clinica"></div>
<main>
  <h2 id="tlt-topo-interno">A CLÍNICA</h2>
  <hr class="hr-tlt-interno">
  <p>
    A Likhê clínica de estética avançada surgiu da parceria da fisioterapeuta (Lílian Lanza) e da médica (Kharyna Gonzales), onde as iniciais do nosso nome originou o nome da clínica.
  </p>
  <p>
    E a nossa missão é oferecer o que temos de melhor no mercado em tratamentos estéticos e especialidades médicas.
  </p>
  <p class="txt-profissionais">
    Por isso buscamos profissionais qualificados para compor nossa equipe:
  </p>
  <div class="profissionais">
    <div class="profissional">
      <img src="assets/profissionais/barbara.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Dra. Bárbara Helen</h3>
        <p class="desc-prof">CRM/SP: 160220</p>
        <p class="desc-prof">Medicina Capilar</p>
        <p class="desc-prof">Instagram: @drabarbarahelen</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/karyna.jpg" alt="01">
      <div class="info-prof2">
        <h3 class="nome-prof">Kharyna Gonzales</h3>
        <p class="desc-prof">Dermatologia</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/lilian.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Lílian Lanza</h3>
        <p class="desc-prof">Fisioterapeuta Dermato Funcional</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/beatriz.jpg" alt="01">
      <div class="info-prof2">
        <h3 class="nome-prof">Dra. Beatriz Bonamichi</h3>
        <p class="desc-prof">CRM/SP: 144901</p>
        <p class="desc-prof">Endocrinologia e Metabologia</p>
        <p class="desc-prof">Doutorado pela Santa Casa de São Paulo e Harvard Medical school</p>
        <p class="desc-prof">Fellow em Diabetes e Obesidade pela Harvard Medical School (Joslin Diabetes Center)</p>
        <p class="desc-prof">Instagram: @dra.biabonamichi </p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/camila.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Camila Kozemekin</h3>
        <p class="desc-prof">Psicóloga</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/rafael.jpg" alt="01">
      <div class="info-prof2">
        <h3 class="nome-prof">Dr. Rafael Bonamichi</h3>
        <p class="desc-prof">CRM/SP: 140069</p>
        <p class="desc-prof">Alergia e Imunologia (criança e adultos)</p>
        <p class="desc-prof">Dourorado pela FMUSP e Harvard Medical School (Brigham and Woman Hospital)</p>
        <p class="desc-prof">Instagram: dr.rafaelbonamichi</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/alexandre.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Alexandre Antonaccio</h3>
        <p class="desc-prof">CRM/SP: 169445</p>
        <p class="desc-prof">Cirurgião Vascular </p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/rodrigo.jpg" alt="01">
      <div class="info-prof2">
        <h3 class="nome-prof">Rodrigo Bagattini Cruz</h3>
        <p class="desc-prof">CRM/SP:145712</p>
        <p class="desc-prof">Cirurgia Plástica</p>
        <p class="desc-prof">Reconhecido e aprovado pela sociedade Brasileira de Cirurgia Plástica (SBCP)</p>
        <p class="desc-prof">Instagram: @rodrigobagattinicruz</p>
      </div>
    </div>
    <div class="profissional">
      <img src="assets/profissionais/caroline.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Dra. Caroline Motta Aguiar</h3>
        <p class="desc-prof">CRM/SP: 175434</p>
        <p class="desc-prof">Residência Médica no Hospital Heliópolis, São Paulo/SP, credenciada pela Sociedade Brasileira de Dermatologia</p>
        <p class="desc-prof">Membro da Sociedade Brasileira de Dermatologia</p>
        <p class="desc-prof">Tiktok: @dra.carolineaguiar</p>
        <p class="desc-prof">Instagram: @dra.carolineaguiar</p>
      </div>
    </div>
<!--
    <div class="profissional">
      <img src="assets/profissionais/rodrigo.jpg" alt="01">
      <div class="info-prof">
        <h3 class="nome-prof">Fernanda Trovão</h3>
        <p class="desc-prof">CRM/SP: 148917</p>
        <p class="desc-prof">Cardiologia</p>
        <p class="desc-prof">Residência Médica no Instituto Dante Pazzanese</p>
      </div>
    </div>
-->
  </div>
</main>
