<header>
  <section id="topo">
    <div class="tel">
      <span class="icon-phone"></span>
      <div class="numeros">
        <p>(11) 5184-1404 <br> (11) 98838-5444</p>
      </div>
    </div>
    <h1 id="logo">
      <a href="/" title="Likhê"><img src="assets/images/logotipo.png" alt="Likhê"></a>
    </h1>
    <div class="end">
      <span class="icon-location2"></span>
      <div class="numeros">
        <p>Av. Doutor Chucri Zaidan, 1550</p>
        <p>Conjunto 1914 - Morumbi </p>
      </div>
    </div>
  </section>

  <div class="menu">
    <button class="menu-abrir"><span class="icon-menu"></span></button>
    <nav class="barra-nav">
      <button class="menu-fechar"><span class="icon-cross"></span></button>
      <ul class="menu-principal">
        <h2 class="logotipo-menu">
          <img src="assets/images/logotipo.png" alt="Likhe">
        </h2>
        <li><a href="/" class="btn-active">Home</a></li>
        <li><a href="/aclinica">A Clínica</a></li>
        <li><a href="/tratamentos">Tratamentos</a></li>
        <li><a href="/especialidades">Especialidades</a></li>
        <li><a href="/cirurgias">Cirurgias</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
      <div class="tel-menu">
        <span class="icon-phone"></span>
        <div class="numeros-menu">
          <p>(11) 2339-1040 <br> (11) 98838-5444</p>
        </div>
      </div>
    </nav>
    <ul class="redes-sociais">
      <li>
        <a href="https://www.facebook.com/likheclinica/" target="_blank">
          <span class="icon-facebook"></span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/likheclinica/?hl=pt-br" target="_blank">
          <span class="icon-instagram"></span>
        </a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send?phone=5511947585756" target="_blank">
          <span class="icon-whatsapp"></span>
        </a>
      </li>
    </ul>
  </div>
</header>
