<div id="topo-rejuvenescimento"></div>
<main>
  <div class="cont-tratamento">

    <div class="txt-tratamento">
      <h3>Rejuvenescimento facial</h3>
      <p>Pode ser feito na face, pescoço, colo, dorso das mãos, antebraços, o objetivo desse procedimento é o tratamento e prevenção das lesões causadas pelo envelhecimento cronológico e extrínseco da pele. Estimula o colágeno, elimina as manchas e vasos, melhora rugas e sulcos.</p>
    </div>
    <div class="box-rej">
      <div class="box">
        <h4>Laser CO2 fracionado</h4>
        <p>O laser C02 fracionado produz raios com micro feixes de calor que atuam na água da pele, produzindo áreas lesionadas e outras são com aspecto de “queimadura”e ao cicatrizar estimula a produção de colágeno e também retração da pele e uma recuperação muito mais rápida.</p>
      </div>
      <div class="box">
        <h4>Indicações do laser CO2</h4>
        <p>O laser CO2 fracionado é indicado para pessoas que buscam rejuvenescimento da pele, remoção de cicatrizes em geral (como de acne) e estrias, ou o fim da flacidez. Ele é excelente para rugas, pois consegue atingir diversas superfícies da pele, nivelando sua estrutura.
          Além disso, como o laser CO2 total, ele estimula a produção de colágeno nas áreas em que agride a pele, dando a elas uma aparência mais jovem.</p>
      </div>
      <div class="box">
        <h4>Seu uso:</h4>
        <p>O tratamento é necessariamente em consultório, usamos cremes anestésicos na região até 50 min antes do laser. Os olhos do paciente são protegidos e a sessão começa. Trata-se a pele de forma completa, não deixando nenhuma área sem tratar.</p>
      </div>
      <div class="box">
        <h4>Sessões</h4>
        <p>O número se sessões varia de acordo com os objetivos do paciente, e podem ser de duas até cinco sessões. A periodicidade também varia de acordo com a indicação, e vai de 45 dias a três meses, de acordo com a orientação do médico.</p>
      </div>
    </div>
  </div>
</main>
