<div id="topo-especialidades"></div>
<main>
  <div class="cont-tratamento">
    <h2 id="tlt-topo-interno">ESPECIALIDADES</h2>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Tratamentos Clínicos</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/doenca_pele.jpg" alt="Doenças da pele, cabelos e unhas">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Doenças da pele, cabelos e unhas</h3>
          <p>A pele é o maior órgão do corpo humano. A Dra Kharyna é especialista em doenças da pele, diagnostica e indica o tratamento seja medicamentoso ou cirúrgico. Faz biopsias de pele e cirurgias de reparação e extração de tumores de pele, além de cuidar de unhas e cabelos. </p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/dermatoscopia_pele.jpg" alt="Dermatoscopia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Dermatoscopia da pele</h3>
          <p>Aparelho utilizado para ampliar as lesões e mostrar alguns padrões que nos ajudam a avaliar o estágio que se encontra a mesma. </p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/endocrinologia.jpg" alt="Endocrinologia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Endocrinologia </h3>
          <p>A Endocrinologia é a área médica responsável por prevenir e tratar disfunções hormonais. Transtornos da tireoide, alterações menstruais, obesidade e sobrepeso, alterações das adrenais e hipófise, entre outros.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/imunologia.jpg" alt="Imunologia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Imunologia</h3>
          <p>É a ciência que estuda o sistema imune, nosso sistema de defesa, responsável pela proteção contra agentes externos. Também auxilia no combate ás células do organismo que sofrem alterações, como as células tumorais.
            O imunologista através da consulta avaliará a necessidade de investigação através da análise de exames laboratoriais.
          </p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/nutricao.jpg" alt="Nutrição">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Nutrição</h3>
          <p>É um processo biológico em que o organismo, absorve os alimentos, assimila os nutrientes para a realização de suas funções vitais. Cada organismo aplica a uma especialidade como: <br>
            Reedução alimentar;<br>
            Obesidade e emagrecimento;<br>
            Orientação e acompanhamento nutricional para gestantes, crianças e idosos;<br>
            Nutrição funcional para praticantes de atividades físicas;<br>
            Avaliação antropométrica com bioimpedância;<br>
            Teste de intolerância alimentar.</p>
        </div>
      </div>
    </div>
    <!--<hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Medicina do esporte</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="tratamentos/medicina_esporte.jpg" alt="Medicina do Esporte">
        <div class="chamada-tratamento">
          <p>Aborda questões sobre atividades física em pessoas de todas as idades em todos os níveis de treinamento, com doenças ou sadias, com a intensão de prevenir, tratar, reabilitar, melhorar o desempenho e qualidade de vida das pessoas.
          </p>
        </div>
      </div>
    </div>-->
  </div>
</main>
