<div id="topo-cirurgias"></div>
<main>
  <div class="cont-tratamento">
    <h2 id="tlt-topo-interno">CIRURGIAS</h2>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Cirurgias plásticas</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/protese.jpg" alt="Prótese">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Prótese</h3>
          <p>Cirurgia para implante de prótese de silicone, principais locais são: mamas, glúteo, e panturrilhas.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/lipoescultura.jpg" alt="Lipoescultura ">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Lipoescultura</h3>
          <p>Lipoaspiração, buscando o contorno corporal, podendo ser realizado lipoenxertia ou não (é a retirada de gordura de uma área em excesso, seguido de aplicação dessa gordura nas áreas com menor volume).</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/hidrolipo.jpg" alt="Lipo Tumescente / Hidrolipo</ ">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Lipo Tumescente / Hidrolipo</h3>
          <p>Lipoaspiração realizada após a infiltração de solução salina e anestésico pode ser feita apenas com sedação.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/abdominosplatia.jpg" alt="Abdominoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Abdominoplastia</h3>
          <p>Cirurgia no abdome para retirar o excesso de pele da parede abdominal.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/mini_abdominosplatia.jpg" alt="Mini – Abdominoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Mini – Abdominoplastia</h3>
          <p>Cirurgia de retirada de excesso de pele, sem modificar a cicatriz umbilical.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/mamoplastia.jpg" alt="Mamoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Mamoplastia</h3>
          <p>Pode ser redutora (reduzir o tamanho das mamas) e/ ou mastopexia (levantar as mamas com prótese /queda, com ou sem prótese de silicone). Reconstrução das mamas após mastectomia (retirada das mamas por câncer).</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/gluteoplastia.jpg" alt="Gluteoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Gluteoplastia</h3>
          <p>Aumento dos glúteos com implante de silicone ou lipoaspiração seguida de enxerto de gordura no glúteo.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/ninfoplastia.jpg" alt="Ninfoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Ninfoplastia</h3>
          <p>Cirurgia intima feminina, retirada do excesso dos pequenos lábios / e ou pele escurecida. Rejuvenescimento da vagina, com preenchimento dos lábios vaginais.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/rinoplastia.jpg" alt="Rinoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Rinoplastia</h3>
          <p>Cirurgia para correção de anormalidades do nariz.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/blefaroplastia.jpg" alt="Blefaroplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Blefaroplastia</h3>
          <p>Retirada do excesso de pele e bolsas de gordura das pálpebras, superior e inferior.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/lifting_facial.jpg" alt="Lifting Facial">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Lifting facial</h3>
          <p>Cirurgia de rejuvenescimento facial, onde retira o excesso de pele causado pela flacidez do tempo. Também chamada de ritidoplastia e Frontoplastia.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/otoplastia.jpg" alt="Otoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Otoplastia</h3>
          <p>Cirurgia para correção das anormalidades da orelha.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/mentoplastia.jpg" alt="Mentoplastia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Mentoplastia</h3>
          <p>Aumento ou diminuição do queixo</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/bichectomia.jpg" alt="Bichectomia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Bichectomia</h3>
          <p>Reduz o tamanho das bochechas e deixa o rosto com aspecto mais fino.</p>
        </div>
      </div>
    </div>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Cirurgia ortopédica</p>
    <p>Nosso especialista que realiza esta cirurgia ortopédica, atua em patologias variadas, conforme abaixo:</p>
    <div class="tratamento-flex">
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação de quadril</h3>
        <p>Lesão de labrum, bursite, quadril em resort, etc.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação de ombro</h3>
        <p>Síndrome do impacto, lesões dos tendões (supraespinhoso), lesões do labrum (slap Lesion) luxação, bursite, etc.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação do joelho</h3>
        <p>Lesão do ligamento cruzado anterior e posterior (LCA – LCP), lesões meniscais, lesões de cartilagem, corpos livres, lesões complexas de fibro cartilagem, etc.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação do cotovelo</h3>
        <p>Corpo livre, cotovelo de tenista e de golfista.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação de punho</h3>
        <p>Cisto sinovial, compressão do nervo mediano (túnel do carpo).</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Articulação do tornozelo</h3>
        <p>Lesões condrais, corpo livre intra articular, síndrome do seio do tarso, lesões ligamentares por entorse de repetição, etc.</p>
      </div>
    </div>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Cirurgia vascular</p>
    <p>A cirurgia vascular é a especialidade responsável pelo tratamento das doenças que acometem os vasos, do sistema arterial, venoso ou linfático. Exceto os vasos do coração e do cérebro que é tratado por (cirurgião cardíaco e neurocirurgião).</p>
    <div class="tratamento-flex">
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Tratamento clínico de varizes</h3>
        <p>Indicado para pacientes com varizes de membros inferiores que não se aplica o tratamento cirúrgico por algum motivo e pacientes muito idosos, devem optar pelo tratamento clínico para impedir a progressão da doença. Mesmo os pacientes que submeter a cirurgias e tratamento prévio, devem continuar com acompanhamento clínico para evitar que os sintomas da doença reapareçam.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Tratamento de varizes com espuma</h3>
        <p>A escleroterapia com espuma é feita com um medicamento chamado polidocanol. O medicamento é injetado nos vasos a serem tratados com o objetivo de fechar a veia doente, inutilizando-a.</p>
      </div>
    </div>
  </div>
</main>
