<section id="conteudo-slider">
  <div class="cycle-slideshow"
       data-cycle-fx=fade
       data-cycle-timeout=2000
       data-cycle-center-horz=true
       data-cycle-center-vert=true>
    <!-- empty element for pager links -->
    <div class="cycle-pager"></div>
    <img src="assets/slider/slide_01.png" class="slide01" alt="imagem1">
    <img src="assets/slider/slide_02.png" class="slide01" alt="imagem2">
    <img src="assets/slider/slide_03.png" class="slide01" alt="imagem3">
    <img src="assets/slider/slide_04.png" class="slide01" alt="imagem4">
  </div>
</section>
<main>
  <h3 id="frase-likhe">Likhê, exclusivo para você!</h3>
  <hr class="hr-frase">
  <p class="chamada-likhe">Elaboramos protocolos exclusivo para você e não fazemos você se encaixar nos nossos protocolos.<br> Por isso buscamos profissionais qualificados para compor nosso time.</p>
  <div class="saiba-mais"><a href="/aclinica">saiba mais</a></div>
  <section id="cont-chamadas">
    <div class="chamadas">
      <img src="assets/images/icon-especialidades.png" alt="Especialidades">
      <h4 class="tlt-chamada">Especialidades</h4>
      <!--<p class="txt-chamada">Lorem ipsum dolor sit amet, Praesent iaculis aliquam quam</p>-->
      <div class="vermais"><a href="/especialidades">ver mais</a></div>
    </div>
    <div class="chamadas">
      <img src="assets/images/icon-cirurgia.png" alt="Cirurgias">
      <h4 class="tlt-chamada">Cirurgias</h4>
      <!--<p class="txt-chamada">Lorem ipsum dolor sit amet, Praesent iaculis aliquam quam</p>-->
      <div class="vermais"><a href="/cirurgias">ver mais</a></div>
    </div>
    <div class="chamadas">
      <img src="assets/images/icon-profissionais.png" alt="Profissionais">
      <h4 class="tlt-chamada">Profissionais</h4>
      <!--<p class="txt-chamada">Conheça os profissionais que compõem nossa equipe.</p>-->
      <div class="vermais"><a href="/aclinica">ver mais</a></div>
    </div>
  </section>
</main>
