<footer>
  <div class="copyright">
    <div class="cont-footer">
      <h5><img src="assets/images/logotipo-footer.png" alt="Likhe"></h5>
      <p>Av. Doutor Chucri Zaidan, 1550</p>
      <p>Conjunto 1914 - Morumbi </p>
      <p>(11) 5184-1404</p>
      <p>(11) 98838-5444 </p>
      <p>contato@likhe.com.br</p>
    </div>
    <div class="cont-footer">
      <h5>Tratamentos</h5>
      <p>Tratamentos estéticos</p>
      <p>Nutrição</p>
      <p>Tratamentos clínicos</p>
      <p>Tratamento capilar</p>
    </div>
    <div class="cont-footer">
      <h5>Cirurgias</h5>
      <p>Cirurgias plásticas</p>
      <p>Cirurgia ortopédica </p>
      <p>Cirurgia vascular</p>
    </div>
    <div class="cont-footer">
      <h5>Redes Sociais</h5>
      <ul class="redes-sociais-footer">
        <li>
          <a href="https://www.facebook.com/likheclinica/" target="_blank">
            <span class="icon-facebook"></span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/likheclinica/?hl=pt-br" target="_blank">
            <span class="icon-instagram"></span>
          </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=5511947585756" target="_blank">
            <span class="icon-whatsapp"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row" style="background-color: #ffffff;">
    <div class="col-md-12">
      <p class="text-center" style="text-align: center;"><a href="https://www.onnow.com.br"><img title="On Now" src="assets/images/logo-onnow.png" width="120px"></a></p>
    </div>
  </div>
</footer>
<a href="https://api.whatsapp.com/send?phone=5511947585756" target="_blank" class="whatsapp">
  <i class="icon-whatsapp"></i>
</a>
