<div id="topo-tratamentos"></div>
<main>
  <div class="cont-tratamento">
    <h2 id="tlt-topo-interno">TRATAMENTOS</h2>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Estética Facial</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/rejuvenescimento-facial_p.jpg" alt="Rejuvenescimento Facial">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Rejuvenescimento Facial</h3>
          <p>Pode ser feito na face, pescoço, colo, dorso das mãos, antebraços, o objetivo desse procedimento é o tratamento e prevenção das lesões...</p>
          <p class="lermais-tratamento"><a href="/rejuvenescimento">LER MAIS</a></p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/peeling.jpg" alt="Peeling">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Peeling</h3>
          <p>Método de esfoliação natural, o protocolo causa uma micro lesão na pele, tratando problemas de afecções. O procedimento induz o corpo a elevar o fluxo sanguíneo...</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/preen_hialuronico.jpg" alt="Preenchimento com ácido Hialurônico">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Preenchimento com ácido Hialurônico</h3>
          <p>Gel com diferentes espessuras aplicados através de agulhas ou cânulas com o objetivo de preencher áreas tais como: olheiras, queixo, mandíbula, malar, zigomático, fronte, lábios, nariz, lobo de orelha, mãos, sulco nasogeniano (bigode chinês), sulco lábio mentoniano (ruga da marionete). Duração média 1 ano e meio.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/toxina_botulinica.jpg" alt="Toxina Botulínica">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Toxina Botulínica </h3>
          <p>Substância injetada em pontos estratégicos através de uma agulha pequena, cuja função é paralisar o músculo atingido. Evita a formação de rugas e previne as marcas de expressão. Idade sugerida para iniciar o uso da toxina desde 25 anos. Duração média de 4 a 6 meses.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/microagulhamento.jpg" alt="Microagulhamento">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Microagulhamento</h3>
          <p>O procedimento é feito com diversas agulhas, provoca pequenas punturas na pele, aumenta a vasodilatação, estimula a formação de colágeno, aumenta a absorção de alguns medicamentos diretos na pele.
            É indicado para o rejuvenescimento, melhoram as rugas finas, melasma, cicatrizes de acne, estrias, manchas na face e flacidez, além de estimular o crescimento capilar.
          </p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/sculptra.jpg" alt="Sculptra">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Sculptra</h3>
          <p>Uma das mais novas tecnologias para o rejuvenescimento facial e corporal. É realizada infiltração da substancia liquida no plano superficial e profundo da pele. Serve para aumentar a produção de colágeno na área aplicada e consequentemente renovação das células, dando firmeza, brilho e elasticidade da pele, promovendo uma pele mais bonita e viçosa.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/limpeza_pele.jpg" alt="Limpeza de Pele">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Limpeza de Pele</h3>
          <p>Tratamento indicado para remover impurezas da pele e promover a limpeza dos poros. A limpeza de pele é um dos cuidados básicos que auxilia na respiração da pele e renova as células.<br>Há dois tipos de limpeza de pele: Simples e com hidratação.
          </p>
        </div>
      </div>
    </div>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Estética Corporal</p>
    <div class="tratamento-flex">
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Massagem Manual</h3>
        <p>Massagem é opção de muitos para relaxar o corpo e a mente. Também é eficaz na redução de medidas e eliminação de toxinas. A Likhê utiliza o protocolo adequado para necessidade de cada paciente.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Drenagem Linfática</h3>
        <p>Além de ser uma massagem relaxante, o profissional foca em pontos estratégicos que eliminam líquidos e diminuem as medidas do corpo. Indicada para pós – operatório.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Massagem modeladora</h3>
        <p>É um procedimento que envolve as duas técnicas combinadas, a drenagem linfática e massagem modeladora. Tem como objetivo a prevenção, tratamento e embelezamento da pele. Atua principalmente sobre a gordura localizada, celulite e sistema circulatório de todo o organismo.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Pós – Operatório</h3>
        <p>Os tratamentos estéticos ajudam muito na recuperação de alguns tipos de cirurgias. Aplicamos o protocolo personalizado para cada caso. Como resultado, o processo de cicatrização é eficaz, acelera o metabolismo, melhora o inchaço e evita fibroses, com aparência quase nula da marca da cirurgia.</p>
      </div>
      <div class="chamada-tratamento-corp">
        <h3 class="tlt-tipo-tratamento">Depilação a laser</h3>
        <p>É uma técnica de depilação com laser, onde remove os pelos de forma definitiva.Geralmente os pelos grossos e escuros respondem melhor a essa técnica, do que os pelos finos e claros. condições hormonais especiais, pelos finos, ruivos, loiros e brancos, podem resistir ao tratamento e necessitar de manutenção.
          Indicado de 5 a 10 sessões, sendo uma vez ao mês.
        </p>
      </div>
    </div>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Protocolos de emagrecimento</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/criolipolise.jpg" alt="Criolipólise">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Criolipólise<br>Redução de gorduras</h3>
          <p>Método que elimina até 20% da gordura localizada sem cirurgia. É feito com aparelho colocado na parte do corpo a ser tratada, protegida por uma manta umedecida. A pele é congelada por cerca de uma hora a uma temperatura aproximada a -10º C. A gordura é afetada poupando, pele, músculos e nervos. As células adiposas são destruídas e eliminadas pelo sistema imunológico, via sistema linfático. O resultado é visto em 2 meses.</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/manthus.jpg" alt="Manthus">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Manthus</h3>
          <p>Método que elimina até 20% da gordura localizada sem cirurgia. É feito com aparelho colocado na parte do corpo a ser tratada, protegida por uma manta umedecida. A pele é congelada por cerca de uma hora a uma temperatura aproximada a -10º C. A gordura é afetada poupando, pele, músculos e nervos. As células adiposas 	são destruídas e eliminadas pelo sistema imunológico, via sistema linfático. O resultado é visto em 2 mes	</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/carboxterapia.jpg" alt="Carboxterapia">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Carboxterapia</h3>
          <p>É um tratamento estético realizado através da infusão de gás carbônico em diferentes camadas da pele. Trata estrias, celulite, flacidez e gordura localizada. É indicado também para  pré e pós lipoescultura (melhora os resultados evita fibroses).</p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/enzimas.jpg" alt="Enzimas">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Enzimas localizadas</h3>
          <p>A mesoterapia é o tratamento usado para combater a gordura localizada. Nesse caso é injetada em toda a região a ser tratada uma mescla especial que ajuda na quebra das células de gordura e diminui a retenção de líquidos. Essas aplicações são divididas em sessões que podem ser realizadas de uma a duas vezes por semana.</p>
        </div>
      </div>
    </div>
    <hr class="hr-tlt-tratamentos">
    <p class="tlt-tratamento">Tratamento capilar</p>
    <div class="tratamento-flex">
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/transplante.jpg" alt="Transplante Capilar">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Transplante capilar</h3>
          <p>É um método onde se retira cabelo da área doadora onde os folículos são removidos um a um diretamente da área doadora, sem a necessidade de incisão, portanto não existe cicatriz linear.
            O transplante capilar é indicado para pacientes que tem perda de cabelo perceptível, ter cabelo 	saudável na parte de traz da cabeça e nas laterais para servir como área doadora.
            Marque sua consulta para maiores informações.
          </p>
        </div>
      </div>
      <div class="tipo-tratamento">
        <img src="assets/tratamentos/transplante_barba.jpg" alt="Transplante de barba">
        <div class="chamada-tratamento">
          <h3 class="tlt-tipo-tratamento">Transplante de barba</h3>
          <p>Segue a mesma técnica do transplante capilar, onde o cabelo é a parte doadora para a face.
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
